---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us">
  <section class="bg-white py-20">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-serif font-bold text-gray-900 mb-6">About Urlbound</h1>

      <p class="text-xl text-gray-700">
        Urlbound began with a passion for creating, from digital solutions to tangible projects. Founded by software engineers with a drive for innovation, Urlbound has evolved into a space where technology meets purpose. Through years of prototyping and refining, we launched Urlbound and developed our flagship product, Null-ID, a tool dedicated to protecting data privacy.
      </p>

      <p class="text-xl text-gray-700 mt-4">
        At Urlbound, our team of engineers and product experts is united by a belief in technology’s power to empower businesses. We envision a future where companies can innovate confidently, using their data without the fear of exposing sensitive information. With Null-ID, we make data anonymization accessible, effective, and easy to use, allowing developers and organizations to integrate privacy into their workflows seamlessly.
      </p>

      <p class="text-xl text-gray-700 mt-4">
        Whether you’re a developer, a compliance officer, or someone who values data privacy, Urlbound is here to help you unlock data’s potential while safeguarding what matters most. Join us as we shape a future where innovation and privacy go hand in hand.
      </p>

    </div>
  </section>
</Layout>